  
  body    { 
   
      background: #E0EEEE; 
	   
	   
          } 
	     
#index2   { 

     background: #FFFAF0;   
	 padding: 15px;
	 font-family: 'Inria Serif', serif;
	 
          } 
 
#index3   {
	 background: #E0EEEE; 
	  
          } 
		 
#index4   { 
 
    background: #FFFAF0;   
	 padding: 15px;
	font-family: 'Inria Serif', serif;
          } 
		    
#contend  {
     background: #009ACD; 
     width: 400px; 
	 margin: 10px 0 0 50px;
     padding: 10px 20px 25px; 
	float: left; 
	border: 2px solid #1874CD; 
    border-radius: 5px;
	box-shadow: 2px 2px 4px #BEBEBE;
         }  
.link { color: #E0FFFF;   }
 
 #sidebar { 
  
      background: #009ACD; 
	  width: 700px; 
	  margin: 10px 100px 0 0; 
	  Padding: 20px;
	   float: right;
      border: 2px solid #1874cd;	 
      font-family: 'Inria Serif', serif;
 } 
 
  h1 {   
    padding: 0 0 0 175px; 
	 
  }
 #naslov { 
 padding: 0 0 0 500px;  }   
 
 .link2 { 
    color: #838B8B; 
 } 
   
 table { 
   
    border-collapse: collapse; 
	font-family: 'PT Sans', sans-serif;
 } 
  
 #wrapper { 
    background: #E0EEEE; 
   float: right;  
   margin: 60px 80px 100px 200px;
   width: 1000px;
   height: 400px;  
   padding: 30px;
        
 } 
  th { 
  border: 2px solid #778899; 
  padding: 10px 5px;  
  background: #FDF5E6; 
  text-align: center;
  } 
   
   td { 
   border: 2px solid #778899;  
   padding: 5px 15px 5px 20px; 
   background: #FFFAF0;
   text-align: center;
 }

 
 
 
 
 